# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MySQL
# Database configuration
/config/database.properties
/config/database.json
/config/database.cfm

# MySQL data directory (per local machine)
/mysql-data/

*.log
mysql-error.log
mysql-query.log

# Temporary files
*.tmp


testbox
java
wirebox